In [6]:
import numpy as np
import os
import pandas as pd
from sklearn.neighbors import NearestNeighbors
fpc = "/home/admin123/Starspace/"+ "data/customer_rep.csv"
df = pd.read_csv(fpc)

In [7]:
req_cols = list(set(list(df.columns)) - set(list(["Customer"])))
X = df[req_cols].values
Y = df["Customer"].values

In [8]:
nbrs = NearestNeighbors(n_neighbors=3, algorithm='ball_tree').fit(X)

In [9]:
fp = "/home/admin123/Starspace/"+ "data/Online_Retail.csv"
df = pd.read_csv(fp)
df = df[-df['InvoiceNo'].str.startswith("C")]
df = df[-df['StockCode'].str.startswith("BANK")]
#req_cols = ["CustomerID", "InvoiceNo", "StockCode"]
df = df.dropna()
df["CustomerID"] = df["CustomerID"].astype(int)

In [10]:
df["ItemTotal"] = df["UnitPrice"] * df["Quantity"]
df_inv_summary = df.groupby(["CustomerID","InvoiceNo"]).agg({'ItemTotal': ['sum'], 'Quantity':['sum'], 'StockCode':['count']})

In [14]:
df_inv_summary.head(10)

                     StockCode ItemTotal Quantity
                         count       sum      sum
CustomerID InvoiceNo
12346      541431            1  77183.60    74215
12347      537626           31    711.79      319
           542237           29    475.39      315
           549222           24    636.25      483
           556201           18    382.52      196
           562032           22    584.91      277
           573511           47   1294.32      676
           581180           11    224.82      192
12348      539318           17    892.80     1254
           541998            6    227.44      601

In [17]:
index_lookup = {Y[i]: i for i in range(len(Y))}

In [19]:
x_12347 = index_lookup[12348]

In [23]:
query_pt = np.reshape(X[x_12347], (1, X.shape[1]))
distances, indices = nbrs.kneighbors(query_pt)

In [24]:
Y[indices]

array([[12348, 17180, 13081]])

In [27]:
purchases_12347 = set(df.query("CustomerID == 12347")["StockCode"].tolist())

In [29]:
purchases_12348 = set(df.query("CustomerID == 12348")["StockCode"].tolist())

In [32]:
purchases_12347.intersection(purchases_12348)

{'23076', '84991', '84992'}

In [31]:
purchases_12348

{'21211',
 '21213',
 '21725',
 '21726',
 '21967',
 '21977',
 '21980',
 '21981',
 '21982',
 '21983',
 '21985',
 '22437',
 '22616',
 '22951',
 '22952',
 '23076',
 '23077',
 '23078',
 '84988',
 '84991',
 '84992',
 'POST'}